In [65]:
import pandas as pd
import numpy as np
import seaborn as sns

데이터 불러오기

In [67]:
dtype_dic = {
    '대여소번호' : 'str',
}

df_12 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202412.csv", dtype = dtype_dic, encoding = 'cp949')

In [68]:
df_11 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202411.csv", dtype = dtype_dic, encoding = 'cp949')

In [69]:
df_10 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202410.csv", dtype = dtype_dic, encoding = 'cp949')

In [70]:
df_09 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202409.csv", dtype = dtype_dic, encoding = 'cp949')

In [71]:
df_08 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202408.csv", dtype = dtype_dic, encoding = 'cp949')

In [72]:
df_07 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202407.csv", dtype = dtype_dic, encoding = 'cp949')

In [73]:
df_06 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202406.csv", dtype = dtype_dic, encoding = 'cp949')

In [74]:
df_05 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202405.csv", dtype = dtype_dic, encoding = 'cp949')

In [75]:
df_04 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202404.csv", dtype = dtype_dic, encoding = 'cp949')

In [76]:
df_03 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202403.csv", dtype = dtype_dic, encoding = 'cp949')

In [77]:
df_02 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202402.csv", dtype = dtype_dic, encoding = 'cp949')

In [78]:
df_01 = pd.read_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/\
서울특별시 공공자전거 이용정보(시간대별)_202401.csv", dtype = dtype_dic, encoding = 'cp949')

In [79]:
# 데이터 병합

df = pd.concat([df_01, df_02, df_03, df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11, df_12])

In [80]:
df.info

<bound method DataFrame.info of                대여일자  대여시간  대여소번호                     대여소명 대여구분코드   성별 연령대코드  \
0        2024-01-01     0  01175        1175. 대한항공 인력개발센터    정기권  NaN  ~10대
1        2024-01-01     0  00669        669.청계한신휴플러스앞 삼거리    정기권  NaN  ~10대
2        2024-01-01     0  05760        5760. 풍납사거리 성내유수지    정기권  NaN  ~10대
3        2024-01-01     0  01153  1153. 발산역 1번, 9번 인근 대여소    정기권  NaN   20대
4        2024-01-01     0  01265           1265. 문정동 근린공원    정기권  NaN   20대
...             ...   ...    ...                      ...    ...  ...   ...
2126128  2024-12-31    23  02547         2547. 반포래미안 리오센트    정기권    M    기타
2126129  2024-12-31    23  03680            3680. 강동역3번출구    정기권    M    기타
2126130  2024-12-31    23  00240          240. 문래역 4번출구 앞    정기권    M    기타
2126131  2024-12-31    23  05773         5773. 송파시그니처롯데캐슬    정기권    M    기타
2126132  2024-12-31    23  01911         1911. 구로디지털단지역 앞    정기권    M    기타

         이용건수     운동량   탄소량  이동거리(M)  이용시간(분)
0           1   13.15  0.14   582.54        4
1           1   33.28  0.33  1424.60       43
2           1   29.38  0.26  1141.34        7
3           1   72.24  0.83  3577.09       25
4           1   61.91  0.47  2004.37       15
...       ...     ...   ...      ...      ...
2126128     1  143.46  1.05  4528.32       68
2126129     1    0.00  0.00     0.00        2
2126130     1   18.28  0.16   710.00        9
2126131     1   39.75  0.36  1544.25       18
2126132     1   17.09  0.15   634.55        5

[39676932 rows x 12 columns]>

In [81]:
df.describe()

               대여시간          이용건수       이동거리(M)       이용시간(분)
count  3.967693e+07  3.967693e+07  3.967693e+07  3.967693e+07
mean   1.396435e+01  1.105085e+00  2.606281e+03  2.312454e+01
std    5.749012e+00  4.231550e-01  3.378965e+03  3.000891e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    9.000000e+00  1.000000e+00  8.600000e+02  6.000000e+00
50%    1.500000e+01  1.000000e+00  1.527160e+03  1.200000e+01
75%    1.800000e+01  1.000000e+00  2.920000e+03  2.800000e+01
max    2.300000e+01  3.900000e+01  3.972412e+05  1.143600e+04

In [82]:
df.head(5)

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리(M),이용시간(분)
0,2024-01-01,0,01175,1175. 대한항공 인력개발센터,정기권,NaN,~10대,1,13.15,0.14,582.54,4
1,2024-01-01,0,00669,669.청계한신휴플러스앞 삼거리,정기권,NaN,~10대,1,33.28,0.33,1424.60,43
2,2024-01-01,0,05760,5760. 풍납사거리 성내유수지,정기권,NaN,~10대,1,29.38,0.26,1141.34,7
3,2024-01-01,0,01153,"1153. 발산역 1번, 9번 인근 대여소",정기권,NaN,20대,1,72.24,0.83,3577.09,25
4,2024-01-01,0,01265,1265. 문정동 근린공원,정기권,NaN,20대,1,61.91,0.47,2004.37,15

결측값 제거

In [84]:
df = df.dropna()

In [85]:
df.shape

(28753426, 12)

중복값 확인

In [87]:
df.duplicated().sum()

0

필요없는 컬럼 제거

In [89]:
df = df.drop(columns = ['운동량', '탄소량'])

대여소번호, 대여소명 일치 여부 확인

In [91]:
df['대여소번호'].nunique(), df['대여소명'].nunique()

(2810, 2816)

In [92]:
check_df = df[['대여소번호','대여소명']].drop_duplicates()['대여소명'].value_counts()
check_df

대여소명
2608. 송파구청             1
4515. 동문굿모닝탑           1
4262. 서대문자연사박물관 입구     1
3922. 서울남부교정시설 앞       1
3934. 철도교통관제센터 정문 앞    1
                      ..
3528. 광진정보도서관          1
456. 숭인2동 주민센터 입구      1
292. 영일 어린이공원          1
777.신월6차보람아파트 앞        1
5513. 마포음식문화거리         1
Name: count, Length: 2816, dtype: int64

In [93]:
df.groupby('대여소번호')['대여소명'].nunique().sort_values(ascending=False)

대여소번호
01516    2
00302    2
02612    2
01319    2
03642    2
        ..
01348    1
01349    1
01351    1
01352    1
09980    1
Name: 대여소명, Length: 2810, dtype: int64

In [94]:
df.groupby('대여소번호')['대여소명'].nunique().reset_index().query('대여소명 > 1')

      대여소번호  대여소명
167   00302     2
918   01319     2
1053  01516     2
1587  02381     2
1678  02612     2
1974  03642     2

In [95]:
df.loc[df['대여소번호'] == '00302', '대여소명']

676        302. 경복궁역 4번출구 뒤
3106       302. 경복궁역 4번출구 뒤
3482       302. 경복궁역 4번출구 뒤
3760       302. 경복궁역 4번출구 뒤
4216       302. 경복궁역 4번출구 뒤
                 ...
2104574    302. 경복궁역 6번출구 뒤
2105234    302. 경복궁역 6번출구 뒤
2108496    302. 경복궁역 6번출구 뒤
2120814    302. 경복궁역 6번출구 뒤
2125888    302. 경복궁역 6번출구 뒤
Name: 대여소명, Length: 18799, dtype: object

In [96]:
df.loc[df['대여소번호'] == '01319', '대여소명']

3735       1319. 종암사거리 분수대
11001      1319. 종암사거리 분수대
14297      1319. 종암사거리 분수대
18749      1319. 종암사거리 분수대
22435      1319. 종암사거리 분수대
                ...
2109977       1319. 종암박스파크
2114651       1319. 종암박스파크
2114951       1319. 종암박스파크
2119663       1319. 종암박스파크
2126121       1319. 종암박스파크
Name: 대여소명, Length: 6409, dtype: object

In [97]:
df.loc[df['대여소번호'] == '01516', '대여소명']

5239       1516. 우이초등학교 후문 옆
12335      1516. 우이초등학교 후문 옆
20161      1516. 우이초등학교 후문 옆
20870      1516. 우이초등학교 후문 옆
31640      1516. 우이초등학교 후문 옆
                 ...
2111835       1516. 우이동길마을마당
2116177       1516. 우이동길마을마당
2118520       1516. 우이동길마을마당
2123155       1516. 우이동길마을마당
2125147       1516. 우이동길마을마당
Name: 대여소명, Length: 5451, dtype: object

In [98]:
df.loc[df['대여소번호'] == '02381', '대여소명']

13493      2381. 언주역 6번출구앞
19789      2381. 언주역 6번출구앞
29302      2381. 언주역 6번출구앞
49314      2381. 언주역 6번출구앞
52168      2381. 언주역 6번출구앞
                ...
2075149    2381. 언주역 3번출구앞
2085096    2381. 언주역 3번출구앞
2086213    2381. 언주역 3번출구앞
2095968    2381. 언주역 3번출구앞
2111840    2381. 언주역 3번출구앞
Name: 대여소명, Length: 4167, dtype: object

In [99]:
df.loc[df['대여소번호'] == '02612', '대여소명']

171750     2612. 문정·가락 대여소 앞
231130     2612. 문정·가락 대여소 앞
342871     2612. 문정·가락 대여소 앞
788569     2612. 문정·가락 대여소 앞
891180     2612. 문정·가락 대여소 앞
                 ...
1299821      2612. 광평교사거리 인근
1433725      2612. 광평교사거리 인근
1874962      2612. 광평교사거리 인근
1926359      2612. 광평교사거리 인근
1954680      2612. 광평교사거리 인근
Name: 대여소명, Length: 464, dtype: object

In [100]:
df.loc[df['대여소번호'] == '03642', '대여소명']

8699       3642. LH강남힐스테이트아파트
9891       3642. LH강남힐스테이트아파트
10727      3642. LH강남힐스테이트아파트
19703      3642. LH강남힐스테이트아파트
20377      3642. LH강남힐스테이트아파트
                  ...
2099838       3642. 강남자곡힐스테이트
2101324       3642. 강남자곡힐스테이트
2110258       3642. 강남자곡힐스테이트
2112882       3642. 강남자곡힐스테이트
2125672       3642. 강남자곡힐스테이트
Name: 대여소명, Length: 7775, dtype: object

In [101]:
# # DataFrame_bus = {
#     '00302' : '302. 경복궁역 4번출구 뒤',
#     '01319' : '1319. 종암사거리 분수대',
#     '01516' : '1516. 우이초등학교 후문 옆',
#     '02381' : '2381. 언주역 6번출구앞',
#     '02612' : '2612. 문정·가락 대여소 앞',
#     '03642' : '3642. LH강남힐스테이트아파트'
# }

In [102]:
df.loc[df['대여소번호'] == '00302', '대여소명'] = '302. 경복궁역 4번출구 뒤'
df.loc[df['대여소번호'] == '01319', '대여소명'] = '1319. 종암사거리 분수대'
df.loc[df['대여소번호'] == '01516', '대여소명'] = '1516. 우이초등학교 후문 옆'
df.loc[df['대여소번호'] == '02381', '대여소명'] = '2381. 언주역 6번출구앞'
df.loc[df['대여소번호'] == '02612', '대여소명'] = '2612. 문정·가락 대여소 앞'
df.loc[df['대여소번호'] == '03642', '대여소명'] = '3642. LH강남힐스테이트아파트'

In [103]:
df['대여소번호'].nunique(), df['대여소명'].nunique()

(2810, 2810)

이동거리/이동시간 0인 로우 삭제

In [105]:
df = df[df['이동거리(M)'] != 0]
df.shape

(28079697, 10)

In [106]:
df = df[df['이용시간(분)'] != 0]
df.shape

(28073653, 10)

In [107]:
df[df['이용건수'] == 0].shape[0]

0

데이터 추출하기

In [109]:
df.to_csv("C:/Users/USER/OneDrive/바탕 화면/고이/codeit/3. 초급 프로젝트/data/서울특별시 공공자전거 이용정보(시간대별)_2024.csv",  
          encoding='cp949', index=False)